{% load static %} 
{% load menu_tags %}


<div class="d-flex flex-column flex-shrink-0 p-3 mr-5" style="width: 280px;">
    <svg class="bi me-2" width="40" height="32">
        <img src="{% static 'images/las_ruinas_PL.png' %}"/>
    </svg>
    <hr>
    <ul class="nav navbar-nav">
    {% for item in menu_items %}
        <li class="{{ item.active_class }}">
            <a href="{{ item.href }}">{{ item.text }}</a>
            {% if item.has_children_in_menu %}
                <button class="btn btn-toggle" data-target="#ddtoggle_{{ item.link_page.pk }}" data-toggle="collapse"
                    aria-expanded={% if item.active_class %}"true" {% else %} "false" {% endif %} 
                    aria-controls="#ddtoggle_{{ item.link_page.pk }}">
                    &or;
                </button>
                {% sub_menu item  template="menu/custom_submenu.html" %}
            {% endif %}
        </li>       
    {% endfor %}
    </ul>

    <hr>

  </div>
