{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="border p-4">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group mb-4">
            <label for="{{ form.logo.id_for_label }}">Logo</label>
            {{ form.logo }}
          </div>

          <div class="form-group mb-4">
            <div class="row">
              <div class="col-md-4">
                <label class="form-check-label" for="{{ form.shop_enabled.id_for_label }}">
                  Enable Shop
                </label>
                <div class="form-check">
                  {{ form.shop_enabled }}
                </div>
              </div>



            </div>
          </div>

          <div class="form-group mb-4">
            <label for="{{ form.navbar_position.id_for_label }}">Navbar Position</label>
            {{ form.navbar_position }}
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
