<!-- cart.html -->
<!-- content will be changed after consultation -->
<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% if cart %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Remove</th>
        </tr>
        {% for product_id, quantity in cart.items %}
            <tr>
                <td>{{ product_id }}</td>
                <td>{{ quantity }}</td>
                <td>{{ products_dict }}</td>
                <td></td>
                <td><form action="{% url 'remove_from_cart' %}" method="POST">
                    <input type="hidden" value= {{ product_id }} name= "product_id" >
                    {% csrf_token %}
                    <button type="submit">Remove</button></a></form></td>
            </tr>
        {% endfor %}
    </table>
    <p class="cart-total">Cart Total: {{ cart_total }}</p>
{% else %}
    <p class="empty-cart-msg">Your cart is empty.</p>
{% endif %}
</body>
</html>
