{% extends 'base.html' %}

{% block content %}
<div class="card mb-5">

    <div class="card-header text-center">
        <h2>{{template.title}}</h2>
    </div>

    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <img src="{{template.main_image.image.url}}" class="img-fluid img-thumbnail" alt="Responsive image">
          </div>
          <div class="col-6">
            <p>{{template.description}}</p>
          </div>
        </div>

      </div>

      <div class="container">
        <form action="" method="POST" class="mt-5">
          {% csrf_token %}

          {{ formset.management_form }}
          <div class="row mt-5">
            {% for form in formset.forms %}
                <div class="col-6  text-center">
                  <h3>{{form.cat_param}}</h3>
                  {% if form.value.field.choices %}
                    <input type="hidden" name="{{form.prefix}}-key" value="{{form.key.value}}">
                    {% for value, label in form.value.field.choices %}
                      <div class="btn-group btn-group-toggle" role="group">
                        <input type="radio" class="btn-check" name="{{form.prefix}}-value" id="{{value}}" autocomplete="off" value="{{value}}" required>
                        <label class="btn btn-outline-primary" for="{{value}}">{{label}}</label>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              {% if forloop.counter|divisibleby:"2" %} </div><div class="row mt-5">{% endif %}  
            {% endfor %}
          </div>
          <div class="row mt-5">
            <div class="col-6"></div>
            <div class="col-6 text-center">
              <button class="btn btn-lg btn-success" type="submit">Sprawdź dostępność</button>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
</div>

{% endblock %}
