{% load static %}

<div class="card h-100" >
    <div class="card-header text-truncate">{{item.title}}</div>
    <div class="card-body p-0">
    <img src="{{item.main_image.image.url}}" 
    class="img-fluid img-thumbnail rounded mx-auto d-block mt-2 mb-2" style="width: 13rem; height: 15rem;" alt="{{item.ti

      <div class="card-footer row d-flex m-0">
        <div class="col text-center">
          <a href="{% url 'product-configure' item.id %}" class="btn btn-primary">Konfiguruj</a>
        </div>
      </div>
    </div>
</div>
