{% load static %}
{% load thumbnail %}
<div class="card h-100" >
  <div class="card-header text-truncate">{{item.title}}</div>
  <div class="card-body p-0">
    <img src="{{ item.main_image.image.url }}.40x60_q85_crop.jpg" class="d-block d-sm-none img-fluid rounded mx-auto" alt="{{item.title}}">

    <img src="{{ item.main_image.image.url }}.60x90_q85_crop.jpg" class="d-none d-sm-block d-md-none img-fluid rounded mx-auto" alt="{{item.title}}">

    <img src="{{ item.main_image.image.url }}.80x120_q85_crop.jpg" class="d-none d-md-block d-lg-none img-fluid rounded mx-auto" alt="{{item.title}}">
    
    <img src="{{ item.main_image.image.url }}.120x180_q85_crop.jpg" class="d-none d-lg-block d-xl-none img-fluid rounded mx-auto" alt="{{item.title}}">

    <img src="{{ item.main_image.image.url }}.160x240_q85_crop.jpg" class="d-none d-xl-block img-fluid rounded mx-auto" alt="{{item.title}}">

    <div class="card-footer row d-flex m-0">
      <div class="col text-center">
          <a href="{% url 'product-configure' item.id %}" class="btn btn-primary">Konfiguruj</a>
      </div>
    </div>
  </div>
</div>
