body {
    background-color: var(--background_color, #DDDDDD);
    color: var(--font_color, #555555);
  }

  hr {
    background-color: #282828;
  }

  a[href] {
    color: var(--link_color, #007bff);
  }

  a[href]:hover {
    color: #0056b3;
  }
